IMAGE_NAME=jeanliruby/go-task-queue
IMAGE_TAG=latest

APP_PORT=8080
WORKERS=4
LOG_LEVEL=info
LOG_CLASS=

MONGO_DB=go_task_queue
MONGO_DLQ_COLLECTION=dlq_jobs
MONGO_LOG_COLLECTION=log_entries

REDIS_PORT=6379
MONGO_PORT=27017
